---
---
@charset "utf-8";

#page-container{
    top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	thead{
		border-top: none;

		tr{
			th,
			td{
				padding: 0.5rem 0.2rem;

				border-bottom: 1px solid;

				font-family: "Roboto Slab", serif;
				font-size: 1.25rem;
				font-weight: 300;
				line-height: 1.25rem;
			}
		}
	}

	tbody{
		tr{
			td{
				padding: 0.5rem 0.25rem;

				border: 1px solid #eee;

				line-height: 1rem;
				font-size: 1rem;
			}
		}
	}
}