---
---
@charset "utf-8";
@import url(syntax.css);

// Fonts
$sans: 'System76 Fira Sans', sans-serif;
$slab: 'System76 Roboto Slab', serif;
$mono: 'System76 Ubuntu Mono', mono;

// Font Sizing
$font-size-paragraph: rem-calc(12px);
$font-size-nav:       rem-calc(16px);
$font-size-heading:   rem-calc(22px);

// Font Weights
$thin:     100;
$light:    300;
$normal:   400;
$medium:   500;
$semibold: 600;
$bold:     700;

// Colors
$almost-white:      #f2f2f2;
$black:             #574f4a;
$dark-gray:         #574e4a;
$dark-neutral-gray: #333;
$light-gray:        #999;
$literally-black:   #000;
$medium-gray:       #888;
$white:             #fff;

// Brand Colors
$orange: #faa41a; // Pantone 137c  #eaa124
$blue:   #48b9c7; // Pantone 7709c #62b5bb
$yellow: #ffce51; // Pantone 1225c #f2c150
$red:    #f15d22; // Pantone 1665c #df6426
$green:  #73c48f; // Confirmation/success

// Social Colors
$gplus:     #dd4b39; // Google+ red
$twitter:   #55acee; // Twitter blue
$facebook:  #3b579d; // Facebook blue
$pinterest: #cb2028; // Pinterest red
$instagram: #ffb900; // Instagram yellow
$github:    #000;    // GitHub black

// Other Colors
$purple:    #300a24; // Used for the Ubuntu terminal (and anything that needs to match)
$spruce:    #2c9199; // For christmasy things
$merlot:    #621527; // omni, footer
$rose:      #9b495d; // sale headline, hero overlay 50%
$carnation: #b47785; // heart icon

// Thicknesses
$padding-thin:   rem-calc(6px);
$padding-medium: rem-calc(12px);
$padding-thick:  rem-calc(16px);

$line-thin:  rem-calc(1px);
$line-thick: rem-calc(3px);

// Radii
$radius-small:  rem-calc(8px);
$radius-medium: rem-calc(16px);
$radius-large:  rem-calc(24px);


// Legacy
$font-family-sans: $sans;
$font-family-slab: $slab;
$font-family-mono: $mono;

$color-black:        $black;
$color-dark-gray:    $dark-gray;
$color-medium-gray:  $medium-gray;
$color-light-gray:   $light-gray;
$color-almost-white: $almost-white;
$color-white:        $white;

$color-orange: $orange;
$color-blue:   $blue;
$color-yellow: $yellow;
$color-red:    $red;
$color-green:  $green;

$google: $gplus;

$color-purple:    $purple;
$terminal-purple: $purple;
$color-spruce:    $spruce;
$color-merlot:    $merlot;
$color-rose:      $rose;
$color-carnation: $carnation;

#page-container {
    top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#page-title {
  .button {
    display: block;
    margin: 1em auto 0.5em;
    padding: 0.5em 1em;
    width: 11em;

    border-radius: 4px;

    background-color: #fff;

    color: #574f4a;
    font-size: 0.85rem;
    font-style: normal;
    text-transform: lowercase;

    @media (min-width: 1025px) {
      float: right;
      margin: 0;
      position: relative;
      top: -2px;
    }

    i {
      font-size: 1.5em;
      padding-right: 0.25em;
      position: relative;
      top: 2px;
    }
  }
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  thead {
    border-top: none;

    tr {
      th,
      td {
        padding: 0.5rem 0.2rem;

        border-bottom: 1px solid #d5d5d5;

        font-family: "Roboto Slab", serif;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.25rem;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0.5rem 0.25rem;

        border: 1px solid #f5f5f5;

        line-height: 1rem;
        font-size: 1rem;
      }
    }
  }
}

pre {
  code {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.support-excerpts {
  @media (min-width: 769px) {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
  }

  article {
    -ms-break-inside: avoid;
    -o-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  h3 {
    margin: 0;

    font-family: $slab;
    font-size: 1.25rem;
    font-weight: 600;

    transition: color 100ms ease;

    a {
      color: inherit;

      &::after {
        content: ' »';

        color: $orange;
      }

      &:hover {
        color: $orange;
      }
    }
  }

  p {
    margin-bottom: 1em;
    padding: 0;

    font-weight: 300;

    em {
      font-weight: 400;
    }
  }
}

kbd {
  padding: 0.2em 0.33em 0;

  border-color: #000;
  box-shadow:
    0 2px 0 #000,
    0 3px 1px #999,
    inset 0 1px 1px #aaa,
    inset 0 -1px 3px #272727;

  background-color: #4d4c4c;
  background-image: linear-gradient(
    rgba(0,0,0,.5),
    transparent 80%,
    transparent
  );
  background-repeat: no-repeat;


  color: #eee;
  font-family: "System76 Fira Sans", "Fira Sans", sans-serif;
  font-weight: normal;
  text-shadow: 0 -1px 0 #000;
}
