---
layout: default
---

<div class="support">
	<div class="hero">
		<img src="https://system76.com/images/support/robot-type.png" alt="Buy a computer, don't talk to one. Lifetime support from 100% real humans." />
	</div>

	<div class="row support-actions">
		<div class="small-12 medium-6 columns">
			<h3>Support Tickets</h3>
			<p class="lead">To submit a ticket for an existing order, visit the Orders page in your Account (<i class="fa fa-user"></i>). Or just hit the big button directly below!</p>
			<a class="button" href="https://system76.com/my-account/orders">Go to Existing Orders</a>
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Need to chat now?</h3>
			<p class="lead">Our representatives are available to take questions and comments by phone <strong>Monday–Friday</strong> between <strong>8am and 5pm Mountain Time</strong>.</p>
			<p class="lead">You can reach us at <strong>(720) 226-9269</strong>.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="getting-started">Getting Started</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts getting-started">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'getting-started' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="pop-ubuntu">Pop!_OS & Ubuntu</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts pop-ubuntu">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'pop-ubuntu' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="security-encryption">Security & Encryption</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts security-encryption">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'security-encryption' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="wifi-bluetooth">WiFi & Bluetooth</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts wifi-bluetooth">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'wifi-bluetooth' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="graphics-audio-video">Graphics, Audio and Video</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts graphics-audio-video">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'graphics-audio-video' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="hardware-drivers">Hardware & Drivers</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts hardware-drivers">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'hardware-drivers' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="accessories">Accessories</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts accessories">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'accessories' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="software-applications">Software & Applications</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts software-applications">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'software-applications' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="repairs-returns">Repairs and Returns</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts repairs-returns">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'repairs-returns' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="machine-learning">Machine Learning/AI</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts machine-learning">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'machine-learning' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="known">Known Solutions</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts known">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'solutions' %}
							<article>
								<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
								{{ article.description | markdownify }}
								{% if article.more %}
								{% endif %}
						  </article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

  <div class="row">
		<div class="small-12 medium-8 medium-centered columns">
			<hr />
			<h1 id="community">Community Articles</h1>
      <p align="center"> The following documents have been graciously submitted by community members.  They have not been checked for accuracy, completeness, or style.  Please
      contact the contributers through their GitHub account for any questions.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts community">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'community' %}
							<article>
								<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
								{{ article.description | markdownify }}
								{% if article.more %}
								{% endif %}
						  </article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
    window.location.replace("https://system76.com/support");
</script> -->
