---
layout: default
---

<div class="support">
	<div class="hero">
		<img src="https://system76.com/images/support/robot-type.png" alt="Buy a computer, don't talk to one. Lifetime support from 100% real humans." />
	</div>

	<div class="row support-actions">
		<div class="small-12 medium-6 columns">
			<h3>Support Tickets</h3>
			<p class="lead">To submit a ticket for an existing order, visit the Orders page in your Account (<i class="fa fa-user"></i>). Or just hit the big button directly below!</p>
			<a class="button" href="https://system76.com/my-account/orders">Go to Existing Orders</a>
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Need to chat now?</h3>
			<p class="lead">Our representatives are available to take questions and comments by phone <strong>Monday–Friday</strong> between <strong>8am and 5pm Mountain Time</strong>.</p>
			<p class="lead">You can reach us at <strong>(720) 226-9269</strong>.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="faq">Frequently Answered Questions</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts faq">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'faq' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="articles">Articles</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts articles">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'articles' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
							{% if article.more %}
								<!-- <p><a href="{{ article.url | prepend: site.baseurl }}">Read More &raquo;</a></p> -->
							{% endif %}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="machine-learning">Machine Learning/AI</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts machine-learning">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'machine-learning' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="security">Security</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts security">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'security' %}
						<article>
							<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
							{{ article.description | markdownify }}
						</article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<hr />
			<h1 id="known">Known Solutions</h1>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts known">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'solutions' %}
							<article>
								<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
								{{ article.description | markdownify }}
								{% if article.more %}
								{% endif %}
						  </article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>

  <div class="row">
		<div class="small-12 medium-8 medium-centered columns">
			<hr />
			<h1 id="community">Community Articles</h1>
      <p align="center"> The following documents have been graciously submitted by community members.  They have not been checked for accuracy, completeness, or style.  Please
      contact the contributers through their GitHub account for any questions.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns support-excerpts community">
			{% assign articles = site.articles | sort:"title" %}
			{% for article in articles %}
				{% if article.hidden != true %}
					{% if article.section == 'community' %}
							<article>
								<h3><a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></h3>
								{{ article.description | markdownify }}
								{% if article.more %}
								{% endif %}
						  </article>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
    window.location.replace("https://system76.com/support");
</script> -->
