<footer id="foot">
    <div id="foot-links" class="row">
        <ul class="small-5 medium-2 columns">
            <li><a href="https://system76.com/contact">Contact</a></li>
            <li><a href="https://system76.com/support">Support</a></li>
            <li><a href="https://system76.com/about">About Us</a></li>
            <li><a href="http://blog.system76.com">Blog</a></li>
            <li><a href="https://system76.com/careers">Careers</a></li>
        </ul>
        <ul class="small-7 medium-4 columns">
            <li><a href="https://system76.com/shipping">Shipping Information</a></li>
            <li><a href="https://system76.com/warranty">Warranty &amp; Returns</a></li>
            <li><a href="https://system76.com/privacy">Privacy Policy</a></li>
            <li><a href="https://system76.com/disclaimer">Disclaimer</a></li>
            <li><a href="https://system76.com/terms">Terms &amp; Conditions</a></li>
        </ul>
        <ul id="social-links" class="small-12 medium-6 columns">
            <li><a href="https://www.facebook.com/system76/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/system76/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/u/0/104919222657565747428"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.pinterest.com/system76/"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </div>
    <div id="copyright" class="text-center">Copyright &copy; System76 {{ site.time | date: '%Y' }}</div>

    <div class="disclaimer text-center">* All financing prices are based on the advertised price at 10% APR paid over 12 months.</div>

    <div id="trademarks" class="text-center">Intel, the Intel Logo, Intel Core, and Xeon are trademarks of Intel Corporation in the U.S. and/or other countries.</div>
</footer>


<ul id="finance-drop" class="content f-dropdown" data-dropdown-content style="position: absolute; top: -11111px;">
    <li>Based on the advertised price at 10% APR paid over 12 months.</li>
</ul>
<input type="hidden" name="video-cdn" data-video-cdn="https://8a16cbbf700563cce485-f0e298840e91e30f4cdca8d430be3e3a.ssl.cf2.rackcdn.com" />
<input type="hidden" name="image-cdn" data-image-cdn="https://feaeba6c997b673d9546-fdee854a0c0fddf2cfc663474a96d15c.ssl.cf2.rackcdn.com" />

<script src="https://system76.com/scripts/thinkbott1k.js"></script>

<div style="position: absolute; top: -123456px; left: -123456px;">
<script type="text/javascript">
var tetryon = new Tetryon({
    'particles': 'beam'
    ,'serverUrl':'tetryon.system76.com'


});

tetryon.createVisitParticle();
</script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1068332445;
var google_conversion_language = "en";
var google_conversion_label = "c2onCLG-igUQneu1_QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1068332445/?value=0&amp;label=c2onCLG-igUQneu1_QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 993752734;
var google_conversion_language = "en";
var google_conversion_label = "T0XwCIqNswkQnu3t2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/993752734/?value=0&amp;label=T0XwCIqNswkQnu3t2QM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

</div>

<!--[if lt IE 10]>
<div id="legacy-warning">
<h1>System76 is built on modern web technologies your browser doesn&rsquo;t support.</h1>
<p>This version of Internet Explorer is out of date and may contain bugs or security vulnerabilities. Please <a href="http://browsehappy.com/">upgrade</a> to IE 11 or an alternative web browser.</p>
<p>If you have questions about an order or require support, feel free to <a href="/contact">contact us</a>.</p>
<div id="legacy-warning-buttons">
<a href="#" onClick="document.getElementById('legacy-warning').style.display = 'none';">Dismiss</a>
<a class="primary" href="http://browsehappy.com/">Learn More</a>
</div>
</div>
<![endif]-->
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"60dd9d43b0","applicationID":"9373382","transactionName":"ZABaZ0IAChcDBUFfC11KeVBECAsKTTBcUxNsJlVAHwgKAAce","queueTime":0,"applicationTime":24,"atts":"SEdZEQoaGRk=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script>
