<footer id="foot">
    <div id="foot-links" class="row">
        <ul class="small-5 medium-2 columns">
            <li><a href="https://system76.com/contact">Contact</a></li>
            <li><a href="https://system76.com/support">Support</a></li>
            <li><a href="https://system76.com/about">About Us</a></li>
            <li><a href="http://blog.system76.com">Blog</a></li>
            <li><a href="https://system76.com/careers">Careers</a></li>
        </ul>
        <ul class="small-7 medium-4 columns">
            <li><a href="https://system76.com/shipping">Shipping Information</a></li>
            <li><a href="https://system76.com/warranty">Warranty &amp; Returns</a></li>
            <li><a href="https://system76.com/privacy">Privacy Policy</a></li>
            <li><a href="https://system76.com/disclaimer">Disclaimer</a></li>
            <li><a href="https://system76.com/terms">Terms &amp; Conditions</a></li>
        </ul>
        <ul id="social-links" class="small-12 medium-6 columns">
            <li><a href="https://www.facebook.com/system76/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/system76/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.pinterest.com/system76/"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </div>
    <div id="copyright" class="text-center">Copyright &copy; {{ site.time | date: '%Y' }} System76, Inc. </div>

    <div class="disclaimer text-center">* All financing prices are based on the advertised price at 10% APR paid over 12 months.</div>

    <div id="trademarks" class="text-center">Intel, the Intel Logo, Intel Core, and Xeon are trademarks of Intel Corporation in the U.S. and/or other countries.</div>
</footer>

<script src="https://system76.com/scripts/thinkbott1k.js"></script>

<!--[if lt IE 10]>
<div id="legacy-warning">
<h1>System76 is built on modern web technologies your browser doesn&rsquo;t support.</h1>
<p>This version of Internet Explorer is out of date and may contain bugs or security vulnerabilities. Please <a href="http://browsehappy.com/">upgrade</a> to IE 11 or an alternative web browser.</p>
<p>If you have questions about an order or require support, feel free to <a href="/contact">contact us</a>.</p>
<div id="legacy-warning-buttons">
<a href="#" onClick="document.getElementById('legacy-warning').style.display = 'none';">Dismiss</a>
<a class="primary" href="http://browsehappy.com/">Learn More</a>
</div>
</div>
<![endif]-->
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"60dd9d43b0","applicationID":"9373382","transactionName":"ZABaZ0IAChcDBUFfC11KeVBECAsKTTBcUxNsJlVAHwgKAAce","queueTime":0,"applicationTime":24,"atts":"SEdZEQoaGRk=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script>
