<header id="masthead" class="main">
	<nav>
		<a id="logo" class="home" href="https://system76.com"></a>

		<ul class="quick" id="nav-links">
			<li>
				<a id="link-contact" href="https://system76.com/contact" title="Contact">
					<i class="fa fa-comments"></i>
					Contact
				</a>
			</li>

			<li>
				<a id="link-support" href="https://support.system76.com" title="Support">
					<i class="fa fa-life-ring"></i>
					Support
				</a>
			</li>

			<li>
				<a id="link-account" href="https://system76.com/my-account" title="Account">
					<i class="fa fa-user"></i>
					Account
				</a>
			</li>
		</ul>

		<ul id="nav-links" class="categories">
			<li><a href="https://system76.com/laptops">Laptops</a></li>
			<li><a href="https://system76.com/desktops">Desktops</a></li>
			<li><a href="https://system76.com/desktops/meerkat">Mini</a></li>
			<li><a href="https://system76.com/servers">Servers</a></li>
			<li><a href="https://system76.com/pop">Pop!_OS</a></li>
		</ul>
	</nav>
</header>

{% if page.title %}
  <header id="page-title">
    <div class="row">
      <h1 class="small-12 columns greeting">
        <a href="/" title="Back to Support"><i class="fa fa-arrow-left"></i></a>
        {{ page.title }}
        <a href="https://github.com/system76/docs/blob/gh-pages/{{ page.path }}" class="button"><i class="fa fa-github"></i> Edit on GitHub</a>
      </h1>
    </div>
  </header>
{% endif %}
