:root {
  --code-00: #333333;
  --code-01: #cc0000;
  --code-02: #4e9a06;
  --code-03: #c4a000;
  --code-04: #3465a4;
  --code-05: #75507b;
  --code-06: #06989a;
  --code-07: #d3d7cf;

  --code-08: #88807c;
  --code-09: #f15d22;
  --code-0A: #73c48f;
  --code-0B: #ffce51;
  --code-0C: #48b9c7;
  --code-0D: #ad7fa8;
  --code-0E: #34e2e2;
  --code-0F: #eeeeec;
}
