---

name: CI

on:
  - pull_request

jobs:
  Lint_JS:
    name: Lint (Javascript)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint:js

  Lint_MD:
    name: Lint (Markdown)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Setup Markdown
        uses: xt0rted/markdownlint-problem-matcher@v1

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint:md

  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Cache
        id: cache
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install
        run: npm ci
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Build
        run: npm run build
